DODO_PAYMENTS_RETURN_URL=https://yourdomain.com/success
DODO_PAYMENTS_ENVIRONMENT=test_mode
MONGODB_URI=your_mongodb_uri
RESEND_API_KEY=your_resend_key
NEXT_PUBLIC_DOWNLOAD_URL=

//POLAR 
POLAR_ACCESS_TOKEN=
POLAR_PRODUCT_ID=
POLAR_WEBHOOK_SECRET=
NEXT_PUBLIC_BASE_URL=