@import "tailwindcss";

:root {
  --background: #F5E9D8;
  --foreground: #171717;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

input::placeholder { color: #555; }
input:focus { border-color: #e63535 !important; outline: none; }